# Auto detect text files and perform LF normalization
* text=auto

# Explicitly handle .sh and .bat files as text with specific line endings
*.sh text eol=lf
*.bat text eol=crlf

# Explicitly handle Python files for text normalization
*.py text eol=lf

# Make sure Python files are treated as text files, so GitHub can detect them properly
*.py linguist-language=Python
